@tailwind base;
@tailwind components;
@tailwind utilities;

/* Todo el hero */
.wrapper1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(/public/images/ovalo1.png) no-repeat;
    background-size: contain;
    background-position: left;
    position: relative;

}

.wrapper2 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(/public/images/ovalo2.png) no-repeat;
    background-size: contain;
    background-position: right;
    position: relative;
    bottom: 60px;
}

.text1 {
    display: flex;
    text-align: left;
    width: 65%;
    position: relative;
    left: 120px;
}

.abeja1 {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    background: url(/public/images/abeja.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 300px;
    left: 100px;
}

.abeja2 {
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    background: url(/public/images/abeja.png) no-repeat;
    background-size: contain;
    position: relative;
    bottom: 50px;
    right: 130px;
}

.circulo {
    width: 10vw;
    height: 10vh;
    display: flex;
    align-items: center;
    background: url(/public/images/circulo.png) no-repeat;
    background-size: contain;
    position: relative;
    top: 420px;
    right: 320px;
}


/* Todo el hero */


/** Todo Beneficios */

.ben {
    display: inline-flex;
    padding: 70px 164px;
    justify-content: center;
    align-items: center;
    background: url(/public/images/);
}

.titulo {
    align-self: stretch;
    color: var(--Neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.2px;
}

.subt {
    align-self: stretch;
    color: var(--Neutral-900, #111827);
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}


/** Todo Beneficios */


/* ? Todo Nosotros */

.nosotros {

    background: #FFF;
    display: flex;
    width: 1440px;
    height: 802px;
    padding: 80px 111.078px 80px 80px;
    align-items: center;
    flex-shrink: 0;
}

.tituloben {
    font-size: 50px;

}

/* ? Todo Nosotros */

/* Primer Cuadro y titulo */
.titulonos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.2px;
}


.subnos {
    display: flex;
    width: 551px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.btnnos {
    display: flex;
    width: 260px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #F8AC3F 0%, rgba(246.15, 167.24, 52.81, 0.44) 100%, rgba(247, 167, 51, 0) 100%);
    text-align: center;
    font-size: 15.05px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    top: 60px;
    left: 120px;
}

.cuadro {
    display: flex;
    width: 60%;
    height: 100%;
    padding: 110.76px 0px 94.528px 0px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 76.386px;
    flex-shrink: 0;
    position: relative;
}

.intcuadro1 {
    width: 43%;
    height: auto;
    position: absolute;
    left: 0%;
    top: 20%;

}

.imgbee {
    position: relative;
    top: 45px;

}

.tit1cuadro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.9px;
    position: relative;
    left: 60px;
    bottom: 30px;
    width: 248.255px;

}

.ptit1 {
    color: #000;
    font-size: 19.097px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18.142px;
    letter-spacing: -0.477px;
    width: 248.255px;
    position: relative;
    bottom: 5%;
    bottom: 20px;
    left: 60px;

    /* bottom: 20px;
    left: 60px; */
}



/* Primer Cuadro y titulo */


/* Segundo Cuadro y titulo */

.intcuadro2 {

    width: 43%;

    height: auto;
    position: relative;

}

.tit2cuadro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    width: 90.9%;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.9px;
    position: relative;
    left: 60px;
    bottom: 30px;
    width: 248.255px;
}

.ptit2 {
    color: #000;
    font-size: 19.097px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18.142px;
    letter-spacing: -0.477px;
    width: 248.255px;
    position: relative;
    bottom: 20px;
    left: 60px;
}

/* Segundo Cuadro y titulo */

/* Tercer Cuadro y titulo */

.intcuadro3 {
    width: 43%;
    height: auto;
    position: absolute;
    left: 45%;
    top: 20%;
}

.tit3cuadro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.9px;
    position: relative;
    left: 60px;
    bottom: 30px;
    width: 248.255px;

}

.ptit3 {
    color: #000;
    font-size: 19.097px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18.142px;
    letter-spacing: -0.477px;
    width: 248.255px;
    position: relative;
    bottom: 5%;
    bottom: 20px;
    left: 60px;
}

/* Tercer Cuadro y titulo */


/* Cuarto Cuadro y titulo */

.intcuadro4 {
    width: 43%;
    height: auto;
    position: absolute;
    left: 45%;
    top: 53.6%;
}

.tit4cuadro {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: -0.9px;
    position: relative;
    left: 60px;
    bottom: 30px;
    width: 248.255px;

}

.ptit4 {
    color: #000;
    font-size: 19.097px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 18.142px;
    letter-spacing: -0.477px;
    width: 248.255px;
    position: relative;
    bottom: 5%;
    bottom: 20px;
    left: 60px;
}

/* Cuarto Cuadro y titulo */

/* ? Todo Nosotros */

/* ! Todo Compromisos */

.compromisos {
    display: flex;
    background-color: #FDEBC8;
    /* padding: 110.76px 0px 94.528px 0px; */
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 850px;
    flex-shrink: 0;
}

.imgcom {
    position: absolute;
    top: 60px;
    left: 1.5%;
}

.titulocomp {
    display: flex;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1.2px;
    width: 33%;
    position: absolute;
    top: 15%;
    left: 9%;
}

.ptitcomp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    top: 30%;
    left: 9.3%;
    width: 32%;
}


/* Caja 1 */

.caja1 {
    width: 28%;
    height: 30%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 17%;
    top: 38%;
}

.imgcom1 {
    position: absolute;
    top: 7%;
    left: 9%;
    top: 38%;
}

.titcom1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 8%;
    top: 13%;
}

.ptitcom1 {
    font-size: 19.9px;
    width: 78%;
    position: absolute;
    left: 16%;
    top: 38%;
}

/* Caja 1 */

/* Caja 2 */

.caja2 {
    width: 38%;
    height: 30%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 60%;
    top: 17%;
}

.imgcom2 {
    position: absolute;
    top: 7%;
    left: 9%;
    top: 38%;
}

.titcom2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 8%;
    top: 13%;
}

.ptitcom2 {
    font-size: 19.9px;
    width: 78%;
    position: absolute;
    left: 16%;
    top: 38%;
}


/* Caja 2 */

/* Caja 3 */

.caja3 {
    width: 38%;
    height: 30%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 60%;
    top: 57%;
}

.imgcom3 {
    position: absolute;
    top: 7%;
    left: 9%;
    top: 38%;
}

.titcom3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    position: absolute;
    left: 8%;
    top: 13%;
}

.ptitcom3 {
    font-size: 19.9px;
    width: 78%;
    position: absolute;
    left: 16%;
    top: 38%;
}


/* Caja 3 */

/* ! Todo Compromisos */


/* * Todo Sensores */

/* * {
    margin: 0;
    padding: 0;
} */

.sensores {
    height: 700px;
}

.container {
    position: relative;
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: black; */
}

.slider input {
    visibility: hidden;
    display: none;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 50px;
    gap: 10px;
}

.buttons label {
    width: .7%;
    height: 10px;
    background-color: #F7A733;
    opacity: 0.5;
    cursor: pointer;
    z-index: 1;
    transition: 300ms ease-in-out;
    border-radius: 100%;
}

.buttons label:hover {
    scale: 1.2;
    opacity: 1;
}

.slider input:nth-child(1):checked~.buttons label:nth-child(1),
.slider input:nth-child(2):checked~.buttons label:nth-child(2),
.slider input:nth-child(3):checked~.buttons label:nth-child(3) {
    opacity: 1;
    scroll-margin: 1.2;
    width: 40px;
}

.content {
    position: relative;
    width: 300vw;
    display: flex;
    transition: 400ms ease-in-out;
}

.firstslide,
.secondslide,
.thirdslide {
    position: relative;
    width: 100vw;
    /* height: 100vh; */
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulogeneral {
    color: #F7A733;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    position: absolute;
    top: 20%;
    left: 20%;
    /* text-align: center; */
    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
}

.cajatit {
    width: 50%;
    height: 40%;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 4px 2px #F7A733;
    position: absolute;
    left: 7%;
    top: 42%;
}

.titsen {
    color: #F7A733;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    position: absolute;
    top: 10%;
    left: 13%;


    /* font-style: normal; */
    /* font-weight: 400; */
    /* line-height: normal; */
}

.ptitsen {
    color: #F8BB51;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 91%;
    font-size: 20px;
}

.img1slide {
    position: absolute;
    top: 10%;
    left: 0;
}

.img2slide {
    position: absolute;
    top: 10%;
    right: 0;
}

.img3slide {
    position: absolute;
    left: 62%;
}

.slider input:nth-child(1):checked~.content {
    left: 0;
}

.slider input:nth-child(2):checked~.content {
    left: -100vw;
}

.slider input:nth-child(3):checked~.content {
    left: -200vw;
}

h1 {
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* * Todo Sensores */

/* ? Todo App Movil */

.appmovil {
    display: flex;
    background-color: #FBD78C;
    /* padding: 110.76px 0px 94.528px 0px; */
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-shrink: 0;


    /* display: flex;
    position: relative;
    height: 700px; */
}

.tituloapp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -1.2px;
    width: 42%;
    position: absolute;
    top: 20%;
    left: 10%;
}


.ptitapp {
    display: flex;
    width: 42%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 10%;
}

.imgapp1 {
    width: 18%;
    height: 70%;
    position: absolute;
    top: 2%;
    left: 58%;
}

.imgapp2 {
    width: 18%;
    height: 70%;
    position: absolute;
    top: 28%;
    left: 78%;
}

.imgapp3 {
    position: absolute;
    top: 70%;
    left: 10%;
}

/* * Todo App Movil */

/* Todo Contactenos */

.contactenos {
    position: relative;
    display: flex;
}


.titulocontact {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 123.333%;
    letter-spacing: -1px;
    padding-top: 5%;
}

.ptitcontact {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 109.63%;
    letter-spacing: -0.45px;
    padding-top: 3%;
    width: 100%;
    padding-left: 27%;
}

.imgcontact {
    max-width: 50%;
}


/* Todo Contactenos */

/* ? Footer */

/* .logofut {
    position: relative;
    right: 160px;
} */

/* ? Footer */
@layer components {}